white-primary = #fff
white-dark-primary = #fafbfc
white-dark-secondary = #eef1f5

black-primary = #000
black-light-primary = #555
black-light-secondary = #e7e7e7

red-primary = #e73d4a
red-light-primary = #d4898e
red-light-secondary = #fbe1e3
red-dark-primary = #cf1624
red-dark-secondary = #a20813

yellow-primary = #eaba00
yellow-light-primary = #ffefb1
yellow-light-secondary = #fff8dc
yellow-dark-primary = #d0a600
yellow-dark-secondary = #9f7f00

green-primary = #26c281
green-light-primary = #7bd9b1
green-light-secondary = #d6fbeb
green-dark-primary = #34af7a
green-dark-secondary = #008b4f

blue-primary = #327ad5
blue-light-primary = #e0ebf9
blue-light-secondary = #eef1f5
blue-dark-primary = #186ad3
blue-dark-secondary = #0a61d1

navy-dark = #2b3643
navy-dark-primary = #3f4f62
navy-dark-secondary = #364150

cyan-primary = #32c5d2
cyan-light-primary = #57d3de
cyan-light-secondary = #86e2eb
cyan-dark-primary = #27a4b0
cyan-dark-secondary = #208992

gray-primary = #b4bcc8
gray-light-primary = #c2cad8
gray-light-secondary = #93a1bb
gray-dark-primary = #98a6ba
gray-dark-secondary = #8290a3

/* VARIABLES **********************************************************************************************************/
color-info = blue-primary
color-success = green-primary
color-warning = yellow-primary
color-danger = red-primary

page-bg-color = blue-light-secondary
page-text-color = black-light-primary
page-link-color = cyan-primary
page-link-hover-color = cyan-dark-primary

portlet-title-bg-color = gray-dark-primary
portlet-title-text-color = white-primary
portlet-body-bg-color = white-dark-primary

sound-meter-text-color = white-primary
sound-meter-bg-color = gray-light-primary
loading-animation-color = white-primary
loading-animation-rgba-color = rgba(255,255,255,0.2)

/* HEADER *************************************************************************************************************/
header-bg-color = navy-dark
header-btn-border-color = navy-dark-primary
header-btn-text-color = gray-primary
header-btn-bg-color = navy-dark
header-btn-hover-border-color = navy-dark-primary
header-btn-hover-text-color = gray-primary
header-btn-hover-bg-color = navy-dark-primary
header-dropdown-toggle-border-color = navy-dark-primary
header-dropdown-toggle-text-color = gray-primary
header-dropdown-toggle-bg-color = navy-dark
header-dropdown-toggle-hover-border-color = navy-dark-primary
header-dropdown-toggle-hover-text-color = gray-primary
header-dropdown-toggle-hover-bg-color = navy-dark-primary
header-dropdown-toggle-active-border-color = navy-dark-primary
header-dropdown-toggle-active-text-color = gray-primary
header-dropdown-toggle-active-bg-color = navy-dark-primary
header-dropdown-btn-border-color = navy-dark-primary
header-dropdown-btn-text-color = gray-primary
header-dropdown-btn-bg-color = navy-dark
header-dropdown-btn-hover-border-color = navy-dark-primary
header-dropdown-btn-hover-text-color = gray-primary
header-dropdown-btn-hover-bg-color = navy-dark-primary

/* FOOTER *************************************************************************************************************/
footer-bg-color = navy-dark-secondary
footer-text-color = gray-dark-primary
footer-link-color = gray-primary
footer-link-hover-color = white-primary

/* PANEL **************************************************************************************************************/
panel-title-color = cyan-primary
panel-bg-color = white-primary
panel-text-color = black-light-primary
panel-box-bg-color = gray-dark-primary
panel-box-text-color = white-primary
panel-body-title-bg-color = gray-dark-primary
panel-body-title-text-color = white-primary
panel-body-title-border-color = gray-dark-primary
panel-body-title-btn-bg-color = gray-dark-primary
panel-body-title-btn-hover-bg-color = gray-dark-secondary
panel-body-title-btn-text-color = white-primary
panel-body-title-btn-border-color = white-primary
panel-body-inner-bg-color = white-dark-primary
panel-body-inner-border-color = white-primary
panel-body-inner-text-color = black-light-primary
panel-info-message-bg-color = white-dark-primary
panel-info-message-text-color = navy-dark

/* MODAL **************************************************************************************************************/
modal-header-bg-color = white-primary
modal-header-text-color = cyan-primary
modal-header-border-color = black-light-secondary
modal-header-close-color = black-light-primary
modal-footer-bg-color = white-primary
modal-footer-text-color = black-light-primary
modal-footer-border-color = black-light-secondary

/* FORM ***************************************************************************************************************/
form-label-text-color = gray-dark-secondary
form-captcha-container-bg-color = white-dark-primary

form-control-placeholder-color = gray-primary
form-control-text-color = black-light-primary
form-control-bg-color = white-primary
form-control-border-color = gray-light-primary
form-control-focus-border-color = gray-light-secondary
form-control-disabled-bg-color = black-light-secondary
form-control-disabled-text-color = black-light-primary
form-control-disabled-border-color = gray-light-primary

form-control-prefix-text-color = white-primary
form-control-prefix-bg-color = gray-light-primary

form-checkbox-container-bg-color = white-dark-primary
form-checkbox-checked-border-color = gray-light-primary
form-checkbox-checked-bg-color = white-primary
form-checkbox-checked-color = cyan-primary
form-checkbox-label-color = black-light-primary

form-radio-border-color = gray-light-primary
form-radio-bg-color = white-primary
form-radio-label-color = black-light-primary
form-radio-checked-color = cyan-primary
form-radio-checked-border-color = gray-light-primary

form-mega-option-border-color = gray-light-primary
form-mega-option-bg-color = white-primary
form-mega-option-title-color = black-light-primary
form-mega-option-text-color = gray-dark-secondary
form-mega-option-radio-border-color = gray-light-primary
form-mega-option-radio-bg-color = white-primary
form-mega-option-checked-border-color = gray-light-primary
form-mega-option-checked-bg-color = white-primary
form-mega-option-checked-title-color = black-light-primary
form-mega-option-checked-text-color = gray-dark-secondary
form-mega-option-checked-radio-border-color = gray-light-primary
form-mega-option-checked-radio-bg-color = white-primary
form-mega-option-checked-radio-dot-color = cyan-primary

form-error-bg-color = red-primary
form-error-text-color = white-primary
form-error-border-color = red-primary

form-info-icon-color = blue-primary
form-info-icon-hover-color = blue-primary
form-info-tooltip-text-color = white-primary
form-info-tooltip-bg-color = navy-dark-primary

/* RADIO CARD BUTTON **************************************************************************************************/
radio-card-button-border-color = gray-light-primary
radio-card-button-bg-color = white-primary

radio-card-button-title-bg-color = navy-dark-secondary
radio-card-button-title-text-color = white-primary
radio-card-button-selected-title-bg-color = gray-dark-primary
radio-card-button-selected-title-text-color = white-primary
radio-card-button-icon-bg-color = white-dark-secondary
radio-card-button-icon-text-color = navy-dark
radio-card-button-subtitle-bg-color = white-primary
radio-card-button-subtitle-text-color = navy-dark
radio-card-button-description-bg-color = white-dark-secondary
radio-card-button-description-text-color = navy-dark

radio-card-button-hover-border-color = cyan-primary
radio-card-button-hover-bg-color = white-primary
radio-card-button-hover-title-bg-color = cyan-primary
radio-card-button-hover-title-text-color = white-primary
radio-card-button-hover-icon-bg-color = white-dark-secondary
radio-card-button-hover-icon-text-color = navy-dark
radio-card-button-hover-subtitle-bg-color = white-primary
radio-card-button-hover-subtitle-text-color = navy-dark

radio-card-button-disabled-border-color = gray-light-primary
radio-card-button-disabled-bg-color = white-primary
radio-card-button-disabled-title-bg-color = gray-dark-primary
radio-card-button-disabled-title-text-color = white-primary
radio-card-button-disabled-icon-bg-color = white-dark-secondary
radio-card-button-disabled-icon-text-color = navy-dark
radio-card-button-disabled-subtitle-bg-color = white-primary
radio-card-button-disabled-subtitle-text-color = navy-dark
radio-card-button-disabled-description-bg-color = white-dark-secondary
radio-card-button-disabled-description-text-color = navy-dark

/* CODE INPUT *********************************************************************************************************/
code-input-border-color = white-dark-secondary
code-input-bg-color = white-primary
code-input-label-text-color = gray-dark-secondary
code-input-label-bg-color = white-primary
code-input-form-control-text-color = black-light-primary
code-input-form-control-bg-color = white-primary
code-input-form-control-border-color = gray-light-primary
code-input-form-control-focus-text-color = black-light-primary
code-input-form-control-focus-bg-color = white-primary
code-input-form-control-focus-border-color = gray-light-secondary
code-input-form-control-error-text-color = red-primary
code-input-form-control-error-bg-color = white-primary
code-input-form-control-error-border-color = red-primary

/* LIST GROUP *********************************************************************************************************/
list-group-text-color = black-light-primary
list-group-bg-color = white-dark-primary
list-group-border-color = gray-light-primary

/* ALERTS *************************************************************************************************************/
alert-info-border-color = blue-light-primary
alert-info-text-color = blue-primary
alert-info-bg-color = blue-light-primary

alert-warning-border-color = yellow-light-primary
alert-warning-text-color = yellow-dark-secondary
alert-warning-bg-color = yellow-light-primary

alert-danger-border-color = red-light-secondary
alert-danger-text-color = red-primary
alert-danger-bg-color = red-light-secondary

alert-success-border-color = green-light-secondary
alert-success-text-color = green-dark-secondary
alert-success-bg-color = green-light-secondary

/* BADGES *************************************************************************************************************/
badge-bg-color = white-dark-secondary
badge-text-color = black-light-primary

badge-default-bg-color = white-dark-secondary
badge-default-text-color = black-light-primary

badge-info-text-color = blue-primary
badge-info-bg-color = blue-light-primary

badge-warning-text-color = yellow-dark-secondary
badge-warning-bg-color = yellow-primary

badge-danger-text-color = red-primary
badge-danger-bg-color = red-light-secondary

badge-success-text-color = green-dark-secondary
badge-success-bg-color = green-light-secondary

/* BUTTONS ************************************************************************************************************/
btn-primary-border-color = cyan-primary
btn-primary-text-color = white-primary
btn-primary-bg-color = cyan-primary
btn-primary-hover-border-color = cyan-dark-secondary
btn-primary-hover-text-color = white-primary
btn-primary-hover-bg-color = cyan-dark-primary

btn-secondary-border-color = cyan-primary
btn-secondary-text-color = cyan-primary
btn-secondary-bg-color = white-primary
btn-secondary-hover-border-color = cyan-dark-secondary
btn-secondary-hover-text-color = white-primary
btn-secondary-hover-bg-color = cyan-dark-primary

btn-info-border-color = blue-primary
btn-info-text-color = white-primary
btn-info-bg-color = blue-primary
btn-info-hover-border-color = blue-dark-secondary
btn-info-hover-text-color = white-primary
btn-info-hover-bg-color = blue-dark-primary

btn-danger-border-color = red-primary
btn-danger-text-color = white-primary
btn-danger-bg-color = red-primary
btn-danger-hover-border-color = red-dark-secondary
btn-danger-hover-text-color = white-primary
btn-danger-hover-bg-color = red-dark-primary

btn-warning-border-color = yellow-primary
btn-warning-text-color = white-primary
btn-warning-bg-color = yellow-primary
btn-warning-hover-border-color = yellow-dark-secondary
btn-warning-hover-text-color = white-primary
btn-warning-hover-bg-color = yellow-dark-primary

btn-success-border-color = green-primary
btn-success-text-color = white-primary
btn-success-bg-color = green-primary
btn-success-hover-border-color = green-dark-secondary
btn-success-hover-text-color = white-primary
btn-success-hover-bg-color = green-dark-primary

btn-switch-border-color = gray-light-primary
btn-switch-bg-color = white-primary
btn-switch-unchecked-text-color = black-light-primary
btn-switch-unchecked-bg-color = transparent
btn-switch-checked-text-color = white-primary
btn-switch-checked-bg-color = cyan-primary

btn-link-border-color = transparent
btn-link-text-color = page-link-color
btn-link-bg-color = transparent
btn-link-hover-border-color = transparent
btn-link-hover-text-color = page-link-hover-color
btn-link-hover-bg-color = transparent

btn-disabled-border-color = gray-primary
btn-disabled-text-color = navy-dark-secondary
btn-disabled-bg-color = gray-primary

/* ACCORDION **********************************************************************************************************/
accordion-head-bg-color = gray-dark-primary
accordion-head-text-color = white-primary
accordion-head-hover-bg-color = gray-primary
accordion-head-hover-text-color = white-primary
accordion-head-active-bg-color = gray-primary
accordion-head-active-text-color = white-primary
accordion-body-bg-color = white-dark-secondary
accordion-body-text-color = black-light-primary
accordion-body-border-color = white-primary

/* CARD ***************************************************************************************************************/
card-border-color = white-dark-secondary
card-text-color = black-light-primary
card-bg-color = white-dark-secondary
card-header-border-color = white-dark-secondary
card-header-text-color = black-light-primary
card-header-bg-color = white-dark-secondary

/* FEEDBACK ***********************************************************************************************************/
feedback-rating-bg-color = white-dark-primary
feedback-star-default-bg-color = gray-light-primary
feedback-star-active-bg-color = cyan-dark-primary
feedback-star-selected-bg-color = cyan-primary

/* WAITING ILLUSTRATION ***********************************************************************************************/
waiting-svg-color-1 = white-dark-secondary
waiting-svg-color-2 = white-primary
waiting-svg-color-3 = navy-dark
waiting-svg-color-4 = navy-dark-secondary
waiting-svg-color-5 = navy-dark-primary
waiting-svg-color-6 = navy-dark

/* PROGRESS BAR *******************************************************************************************************/
progress-bar-bg-color = white-dark-primary
progress-bar-inner-bg-color = green-primary
progress-bar-text-color = white-primary

/* STEP BAR ***********************************************************************************************************/
step-bar-bg-color = gray-light-primary
step-bar-text-color = white-primary
step-bar-border-color = white-primary

step-bar-active-bg-color = navy-dark-primary
step-bar-active-text-color = white-primary
step-bar-success-bg-color = green-primary
step-bar-success-text-color = white-primary
step-bar-warning-bg-color = yellow-primary
step-bar-warning-text-color = yellow-light-secondary
step-bar-error-bg-color = red-primary
step-bar-error-text-color = white-primary

step-bar-title-bg-color = navy-dark-primary
step-bar-title-text-color = white-primary

/* SYSTEM CHECK HORIZON ***********************************************************************************************/
system-check-list-bg-color = white-dark-secondary
system-check-list-text-color = black-light-primary
system-check-list-passed-bg-color = green-light-secondary
system-check-list-passed-text-color = green-dark-secondary
system-check-list-warning-bg-color = yellow-primary
system-check-list-warning-text-color = yellow-light-secondary
system-check-list-failed-bg-color = red-light-secondary
system-check-list-failed-text-color = red-dark-secondary

system-check-panel-header-bg-color = navy-dark-primary
system-check-panel-header-text-color = white-primary
system-check-panel-header-warning-bg-color = yellow-primary
system-check-panel-header-warning-text-color = yellow-light-secondary
system-check-panel-header-error-bg-color = red-primary
system-check-panel-header-error-text-color = white-primary

system-check-panel-body-bg-color = white-dark-primary
system-check-panel-body-text-color = black-light-primary

system-check-step-preview-bg-color = gray-dark-primary
system-check-step-preview-text-color = white-primary
system-check-step-preview-icon-color = white-primary

system-check-sound-meter-quiet-color = green-primary
system-check-sound-meter-loud-color = green-light-primary

system-check-mic-equalizer-color = white-primary

system-check-success-bg-color = white-dark-primary
system-check-success-text-color = black-light-primary
system-check-success-icon-color = green-primary

/* SELF SERVICE *******************************************************************************************************/
self-service-body-bg-color = navy-dark-secondary
self-service-body-text-color = black-light-primary

self-service-user-container-bg-color = white-primary
self-service-video-container-bg-color = black-primary
self-service-control-container-bg-color = white-primary

self-service-flow-list-bg-color = white-primary
self-service-flow-task-text-color = black-light-primary
self-service-flow-task-bg-color = white-dark-primary
self-service-flow-task-actions-border-color = gray-light-primary
self-service-flow-task-actions-bg-color = white-dark-secondary
self-service-flow-task-finish-bg-color = white-dark-secondary

self-service-flow-task-head-text-color = white-primary
self-service-flow-task-head-bg-color = gray-light-primary
self-service-flow-task-number-text-color = white-primary
self-service-flow-task-number-bg-color = gray-light-secondary

self-service-flow-task-active-head-text-color = white-primary
self-service-flow-task-active-head-bg-color = navy-dark-primary
self-service-flow-task-active-number-text-color = white-primary
self-service-flow-task-active-number-bg-color = navy-dark

self-service-flow-task-finished-head-text-color = green-dark-secondary
self-service-flow-task-finished-head-bg-color = green-light-secondary
self-service-flow-task-finished-number-text-color = white-primary
self-service-flow-task-finished-number-bg-color = green-primary

self-service-popup-text-color = black-light-primary
self-service-popup-bg-color = white-dark-primary
self-service-popup-header-text-color = white-primary
self-service-popup-header-bg-color = navy-dark-primary
self-service-popup-footer-border-color = gray-light-primary
self-service-popup-footer-text-color = navy-dark
self-service-popup-footer-bg-color = white-dark-secondary

/* SERVICE LIST *******************************************************************************************************/
service-list-item-selected-title-bg-color = gray-dark-primary
service-list-item-selected-title-text-color = white-primary

/* VIDEO CHAT *********************************************************************************************************/
video-chat-body-bg-color = navy-dark-secondary
video-chat-body-text-color = black-light-primary
video-chat-chat-bg-color = white-dark-secondary
video-chat-chat-input-area-border-color = gray-light-primary
video-chat-chat-input-area-bg-color = white-primary
video-chat-tooltip-text-color = white-primary
video-chat-tooltip-bg-color = navy-dark-primary
video-chat-loading-border-color = rgba(255,255,255,0.7)
video-chat-loading-border-top-color = gray-light-primary

video-chat-message-avatar-bg-color = white-dark-secondary
video-chat-message-line-bg-color = gray-dark-primary
video-chat-message-line-text-color = white-primary
video-chat-message-icon-bg-color = gray-dark-primary
video-chat-message-icon-text-color = white-primary
video-chat-message-line-operator-bg-color = navy-dark-primary
video-chat-message-line-operator-text-color = white-primary
video-chat-message-icon-operator-bg-color = navy-dark-primary
video-chat-message-icon-operator-text-color = white-primary
video-chat-message-notification-text-color = gray-dark-secondary
video-chat-message-notification-bg-color = transparent

video-chat-remote-user-session-timer-text-color = white-primary
video-chat-remote-user-session-timer-bg-color = rgba(0,0,0,0.75)
video-chat-remote-user-info-bg-color = white-primary
video-chat-remote-user-info-label-color = gray-dark-secondary
video-chat-remote-user-info-name-color = black-light-primary
video-chat-remote-user-avatar-bg-color = gray-light-primary
video-chat-remote-user-online-indicator-text-color = black-light-primary
video-chat-remote-user-online-indicator-icon-color = white-primary
video-chat-remote-user-online-indicator-bg-color = white-primary
video-chat-remote-user-online-indicator-on-bg-color = green-primary
video-chat-remote-user-online-indicator-off-bg-color = red-primary
video-chat-remote-user-audio-switch-on-color = green-primary
video-chat-remote-user-audio-switch-off-color = red-primary

video-chat-local-user-settings-bg-color = white-primary
video-chat-local-user-btn-off-border-color = red-primary
video-chat-local-user-btn-off-text-color = white-primary
video-chat-local-user-btn-off-bg-color = red-primary
video-chat-local-user-btn-off-hover-border-color = red-dark-secondary
video-chat-local-user-btn-off-hover-text-color = white-primary
video-chat-local-user-btn-off-hover-bg-color = red-dark-primary
video-chat-local-user-badge-text-color = white-primary
video-chat-local-user-badge-bg-color = red-dark-primary

video-chat-sidebar-header-text-color = black-light-primary
video-chat-sidebar-header-bg-color = white-primary
video-chat-sidebar-body-bg-color = white-dark-secondary
video-chat-sidebar-footer-border-color = gray-light-primary
video-chat-sidebar-footer-text-color = black-light-primary
video-chat-sidebar-footer-bg-color = white-primary
video-chat-sidebar-label-text-color = gray-dark-secondary

video-chat-dialog-overlay-color = rgba(0,0,0,0.8)
video-chat-dialog-sidebar-overlay-color = white-dark-secondary
video-chat-dialog-text-color = black-light-primary
video-chat-dialog-bg-color = white-primary

video-feed-message-bg-color = rgba(0,0,0,0.5)
video-feed-message-text-color = white-primary
video-feed-message-icon-color = white-primary
