.list-group
  margin-bottom 10px

  .list-group-item
    padding 10px
    border-radius 0
    background-color list-group-bg-color
    border 1px solid list-group-border-color
    color list-group-text-color
    line-height 18px
    font-size 14px


/* TABLET *************************************************************************************************************/
@media (min-width: 768px)
  .list-group
    margin-bottom 15px


/* LARGE TABLET *******************************************************************************************************/
@media (min-device-width: 992px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)
  .list-group
    margin-bottom 30px

    .list-group-item
      padding 18px 20px
      border-width 2px
      line-height 30px
      font-size 25px
