h1
  line-height 22px
  font-weight 700
  font-size 18px

h4
  line-height 16px
  font-weight 700
  font-size 12px

p
  margin 0 0 15px
  line-height 20px
  font-weight 400
  font-size 14px

strong
  font-weight 700

ul
  margin 0
  padding 0
  list-style-type none


/* TABLET *************************************************************************************************************/
@media screen and (min-width: 768px)
  p
    margin 0 0 20px


/* LARGE TABLET *******************************************************************************************************/
@media (min-device-width: 992px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)
  p
    margin 0 0 30px
    line-height 30px
    font-size 25px


/* DESKTOP ************************************************************************************************************/
@media screen and (min-width: 992px) and (orientation: landscape)
  p
    margin 0 0 15px


/* LARGE DESKTOP ******************************************************************************************************/
@media screen and (min-width: 1200px) and (orientation: landscape)
  p
    margin 0 0 20px
