@require '../../styles/colors'

.image-container
  display table
  width 100%
  height 1150px
  margin -110px 0 50px
  background-color navy-dark-primary

  .inner
    display table-cell
    vertical-align middle
    text-align center

    .text
      margin 0
      color white-primary
      line-height 120px
      font-size 100px
      text-transform uppercase

.panel
  margin-bottom 50px

  .panel-body
    padding 75px 50px 25px

    .text
      text-align center

    .menu
      margin 0 -25px

      &:after
        display table
        content ''
        clear both
        float none

      .menu-item
        float left
        width 25%
        padding 25px

        .btn
          display block
          width 100%
          padding 100px 25px 50px

          .icon
            display block
            width 200px
            height 200px
            margin 0 auto 100px
            padding 0
            line-height 1
            font-size 200px

          .text
            display block
            margin 0
            min-height 210px
            line-height 70px
            font-size 55px

          &.btn-secondary
            padding 50px 25px

            .icon
              width 160px
              height 160px
              margin 0 auto 50px
              font-size 160px

            .text
              min-height 120px
              line-height 60px
              font-size 45px
