{% extends '../../layouts/default/default.layout.twig' %}
{% block body %}
    <div class="page-selector" data-page="subpage1">Subpage 1</div>
    <div class="page-selector" data-page="subpage2">Subpage 2</div>
    <div class="page-selector" data-page="subpage3">Subpage 3</div>
{% endblock %}

