@require '../../styles/imports/reset'
@require '../../styles/imports/font'
@require '../../styles/imports/flags'
@require '../../styles/imports/loaders'
@require "../../styles/properties/placeholder"

@require "../../../../customization/ui/branding/styles/colors"

@require "../../styles/libs/bootstrap/bootstrap"

placeholder(#ccc)

html,
body
  height 100%

body
  line-height 18px
  font-family Sans-Serif
  font-weight 300
  font-size 14px
  background page-bg-color
  color page-text-color

a
  color page-link-color
  text-decoration underline

  &:hover
  &:focus
  &:active
    color page-link-hover-color

.site-body
  min-height 100%
  padding 70px 15px 270px
  position relative

.hidden
  display none !important

.svg-icon-container
  position absolute
  height 0
  width 0
  overflow hidden


/* TABLET *************************************************************************************************************/
@media screen and (min-width: 768px)
  .site-body
    padding 100px 30px 200px


/* LARGE TABLET *******************************************************************************************************/
@media (min-device-width: 992px) and (max-device-width: 1366px) and (min-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2)
  body
    line-height 30px
    font-size 25px

  .site-body
    padding 130px 30px 280px


/* DESKTOP ************************************************************************************************************/
@media screen and (min-width: 992px) and (orientation: landscape)
  .site-body
    padding 100px 30px 170px


/* LARGE DESKTOP ******************************************************************************************************/
@media screen and (min-width: 1200px) and (orientation: landscape)
  .site-body
    padding 100px 0


/* LARGE TABLET LANDSCAPE *********************************************************************************************/
@media  (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)
  .site-body
    padding 110px 30px 220px



@require "../../../../customization/ui/branding/layouts/default.layout.branding.styl"
