focus-color(color)
  &:focus
    color: color

focus-background-color(color)
  &:focus
    background-color: color

focus-border-color(color)
  &:focus
    border-color: color

focus-shadow()
  &:focus
    box-shadow: arguments

focus-after-color(color)
  &:focus:after
    color: color

focus-after-background-color(color)
  &:focus:after
    background-color: color

focus-after-border-color(color)
  &:focus:after
    border-color: color

focus-after-shadow()
  &:focus:after
    box-shadow: arguments

focus-before-color(color)
  &:focus:before
    color: color

focus-before-background-color(color)
  &:focus:before
    background-color: color

focus-before-border-color(color)
  &:focus:before
    border-color: color

focus-before-shadow()
  &:focus:before
    box-shadow: arguments
