disabled-color(color)
  &:disabled
    color: color

disabled-background-color(color)
  &:disabled
    background-color: color

disabled-border-color(color)
  &:disabled
    border-color: color

disabled-shadow()
  &:disabled
    box-shadow: arguments

disabled-after-color(color)
  &:disabled:after
    color: color

disabled-after-background-color(color)
  &:disabled:after
    background-color: color

disabled-after-border-color(color)
  &:disabled:after
    border-color: color

disabled-after-shadow()
  &:disabled:after
    box-shadow: arguments

disabled-before-color(color)
  &:disabled:before
    color: color

disabled-before-background-color(color)
  &:disabled:before
    background-color: color

disabled-before-border-color(color)
  &:disabled:before
    border-color: color

disabled-before-shadow()
  &:disabled:before
    box-shadow: arguments
