hover-color(color)
  &:hover
    color: color

hover-background-color(color)
  &:hover
    background-color: color

hover-border-color(color)
  &:hover
    border-color: color

hover-shadow()
  &:hover
    box-shadow: arguments

hover-after-color(color)
  &:hover:after
    color: color

hover-after-background-color(color)
  &:hover:after
    background-color: color

hover-after-border-color(color)
  &:hover:after
    border-color: color

hover-after-shadow(shadow)
  &:hover:after
    box-shadow: shadow

hover-before-color(color)
  &:hover:before
    color: color

hover-before-background-color(color)
  &:hover:before
    background-color: color

hover-before-border-color(color)
  &:hover:before
    border-color: color

hover-before-shadow()
  &:hover:before
    box-shadow: arguments
