active-color(color)
  &:active
    color: color

active-background-color(color)
  &:active
    background-color: color

active-border-color(color)
  &:active
    border-color: color

active-shadow()
  &:active
    box-shadow: arguments

active-after-color(color)
  &:active:after
    color: color

active-after-background-color(color)
  &:active:after
    background-color: color

active-after-border-color(color)
  &:active:after
    border-color: color

active-after-shadow()
  &:active:after
    box-shadow: arguments

active-before-color(color)
  &:active:before
    color: color

active-before-background-color(color)
  &:active:before
    background-color: color

active-before-border-color(color)
  &:active:before
    border-color: color

active-before-shadow()
  &:active:before
    box-shadow: arguments
