<div class="site-header">
  <div class="site-header-inner">
    <img class="site-logo original" src="{{ branding.resources['company-logo'] }}" alt="Logo" />
    <img class="site-logo white" src="{{ branding.resources['company-logo-white'] }}" alt="Logo" />
  </div>
</div>
