@require '../../libs/bootstrap/bootstrap'

@require '../../regions/header/header.styl'
@require '../../regions/footer/footer.styl'

body
  line-height 60px
  font-size 50px

.site-body
  padding 350px 0 0
