.accordion
  .accordion-section
    margin 0 0 10px

  .accordion-head
    .btn-collapse
      padding 35px 100px 35px 50px
      line-height 70px
      font-size 60px

      .arrow
        width 140px
        height 140px
        line-height 138px

  .accordion-body
    padding 50px
    border-width 10px
