.alert
  height 200px
  margin 0 0 50px
  padding 40px 40px 40px 200px

  .icon
    width 120px
    height 120px
    line-height 120px
    font-size 120px
    left 40px
    top 40px

  .text
    line-height 60px

  &.alert-box
    padding 100px

    .icon
      display block
      width 800px
      height 400px
      margin auto
      line-height 1
      font-size 400px
      position relative
      right auto
      left auto

    .text
      display block
      margin 100px 0 0
      line-height 70px
      font-size 60px
      text-align center

      .title
        display block
        margin auto
        padding 0 0 30px
        text-transform uppercase
        font-weight 700
