.badge
  margin 0
  padding 10px
  line-height 70px
  font-size 60px
  border-radius 0
  background-color badge-bg-color
  color badge-text-color
  text-transform uppercase
  text-align center

  .icon
    margin 0 5px 0 0

  &.badge-default
    background-color badge-default-bg-color
    color badge-default-text-color

  &.badge-info
    background-color badge-info-bg-color
    color badge-info-text-color

  &.badge-warning
    background-color badge-warning-bg-color
    color badge-warning-text-color

  &.badge-danger
    background-color badge-danger-bg-color
    color badge-danger-text-color

  &.badge-success
    background-color badge-success-bg-color
    color badge-success-text-color
