.btn
  padding 25px 50px
  border-width 5px
  border-radius 15px
  line-height 60px
  font-size 50px

  .icon
    margin -30px 25px -25px 0
    font-size 55px

  .loader
    width 80px
    height 80px
    margin -40px 0 0 -40px
    border-width 15px

  &.btn-xs
    padding 10px 30px
    line-height 50px
    font-size 40px

    .icon
      margin -10px 25px -10px 0
      font-size 40px

    .loader
      width 50px
      height 50px
      margin -25px 0 0 -25px
      border-width 10px

  &.btn-lg
    padding 60px 100px
    line-height 70px
    font-size 60px

    .icon
      margin -70px 50px -60px 0
      font-size 70px

    .loader
      width 140px
      height 140px
      margin -70px 0 0 -70px
      border-width 25px
