.form-group
  margin-bottom 50px

  .control-label
    margin-bottom 25px
    line-height 60px
    font-size 50px

  .error-message
    margin -5px 0 0
    padding 10px 20px
    line-height 60px
    font-size 50px

    &:before
      border-width 0 30px 30px 30px
      left 15px
      top -25px

.form-control
  height 120px
  padding 20px 30px
  border-width 5px
  line-height 70px
  font-size 55px

select.form-control
  padding 20px 110px 20px 30px

.custom-select
  &:after
    margin -12px 0 0
    border-left-width 25px
    border-right-width 25px
    border-top-width 24px
    right 35px

.custom-file
  padding-right 270px

  .form-control-label
    height 120px
    padding 20px 60px 20px 30px
    border-width 5px
    line-height 70px
    font-size 55px

    .btn
      width 300px
      right -270px
      top -5px

.mobile-group
  .mobile-fields
    padding-left 300px

    .prefix
      width 150px
      height 120px
      padding 25px 0
      line-height 70px
      font-size 55px

    .provider
      width 150px
      left 150px

.postfix-group
  .form-group-right
    padding-right 150px

  .postfix
    width 150px
    height 120px
    padding 25px 0
    line-height 70px
    font-size 55px

.info-group
  .form-group-right
    padding-right 120px

  .info
    bottom 120px

    .info-btn
      width 100px
      height 100px
      margin 10px 0
      line-height 100px
      font-size 100px

    .info-text
      top 125px

      &:after
        border-width 0 40px 40px 40px
        right 10px
        top -30px

.btn-switch
  padding 15px
  border-width 5px

  .text
    padding 5px 25px
    line-height 70px
    font-size 55px

.checkbox
  padding 0 0 0 100px

  input[type="checkbox"]
    width 100px
    height 100px
    margin 0 0 0 -100px

  label
    padding 20px 0 20px 30px
    line-height 60px
    font-size 50px

    &:before
      width 100px
      height 100px
      border-width 5px
      left -100px

    &:after
      width 100px
      height 100px
      line-height 100px
      border-width 5px
      left -100px
      font-size 50px

.radio
  margin-top 30px
  margin-bottom 30px
  padding 0 0 0 100px

  input[type="radio"]
    width 100px
    height 100px
    margin 0 0 0 -100px

  label
    padding 20px 0 20px 30px
    line-height 60px
    font-size 50px

    &:before
      width 100px
      height 100px
      border-width 5px
      border-radius 50%
      left -100px

    &:after
      width 50px
      height 50px
      border-radius 50%
      left -75px
      top 25px

.mega-option
  margin 0 0 50px

  .inner
    padding 40px 40px 40px 180px
    border-radius 0
    border-width 5px

    &:before
      width 100px
      height 100px
      border-width 5px
      border-radius 50%
      left 40px
      top 55px

    &:after
      width 50px
      height 50px
      border-radius 50%
      left 65px
      top 80px

    .title
      line-height 70px
      font-size 55px

    .text
      line-height 60px
      font-size 45px

.form-horizontal
  .form-group
    margin 0 0 50px

    &:after
      display table
      content ''
      clear both
      float none

    .form-group-left
      display table
      float left
      width 50%
      height 120px

      .control-label
        display table-cell
        vertical-align middle
        padding 0 30px 0 0
        line-height 60px
        font-size 50px

    .form-group-right
      float right
      width 50%
