.modal
  .modal-dialog
    width 1800px
    margin 250px auto

  .modal-content
    .modal-header
      padding 100px 250px 100px 100px
      border-width 5px

      .modal-title
        min-height 90px
        padding 0
        line-height 90px
        font-size 70px

      .close
        width 250px
        height 295px
        padding 95px
        line-height 100px
        font-size 100px

    .modal-body
      padding 100px

    .modal-footer
      padding 100px
      border-width 5px

      .btn + .btn
        margin-left 50px
