.panel
  width 2060px !important
  max-width 2060px
  margin 0 auto 100px

  .panel-heading
    padding 80px 100px

    .panel-title
      padding 0
      line-height 90px
      font-size 70px

  .panel-body
    padding 0 100px 100px

    .panel-body-title
      margin 0 -100px 50px
      padding 35px 50px
      line-height 70px
      font-size 55px

    .panel-body-inner-title
      margin 0 0 5px
      padding 40px 50px
      line-height 60px
      font-size 50px
      font-weight 700
      text-align center
      text-transform uppercase
      background-color step-bar-title-bg-color
      color step-bar-title-text-color

    .panel-body-inner
      padding 100px

    .panel-box
      margin 0 -100px 100px
      padding 100px

      &.panel-box-success
        background-color alert-success-bg-color
        color alert-success-text-color

      .panel-box-icon
        width 550px
        height 400px
        font-size 400px

      .panel-box-text
        margin 100px 0 0
        line-height 70px
        font-size 60px

        .title
          display block
          margin auto
          padding 0 0 30px
          text-transform uppercase
          font-weight 700

      .panel-box-infographic
        display block
        padding 50px 0

      .panel-box-value
        display block
        width 100%
        max-width 1600px
        height 460px
        padding 75px
        margin 100px auto 150px
        border-radius 100px
        text-align center
        background-color #333
        color color-success
        line-height 310px
        font-size 300px
        font-weight 700

  .panel-footer
    padding 50px 100px 150px

    &:after
      display table
      content ''
      clear both
      float none

    .btn
      width 850px
      margin 0

      &:first-child
        margin 0

      &.btn-left
        float left

      &.btn-right
        float right

  .panel-btn-container
    padding 0 0 50px

    .btn
      margin 50px 25px 0
